.contact-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact-book {
	padding: 10px;
	border: solid 4px #ccc;
	border-radius: 10px;
}

.contact-book__new-contact {
	align-self: stretch;
	border: solid 3px rgb(176, 169, 169);
	border-radius: 10px;
}
.contact-book__new-contact:hover {
	background-color: #ccc;
}

.hide {
	display: none;
}
