.form {
	margin: 10px auto;
	display: flex;
	flex-direction: column;
}

.add-form {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.add-form__inputs {
	flex-grow: 1;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}

input[type="text"],
input[type="number"] {
	border: none;
	border: solid 4px #ccc;
	border-radius: 10px;
}
input.empty {
	border: 4px solid red;
	border-radius: 10px;
}

*:focus {
	outline: none;
}

.add-form__button {
	border: none;
	border: solid 4px #ccc;
	border-radius: 10px;
}

.add-form__button:hover {
	background-color: #ccc;
}

.form__hide {
	width: 50%;
	align-self: center;
	border: solid 3px rgb(176, 169, 169);
	border-radius: 10px;
	margin: 10px;
}
.form__hide:hover {
	background-color: #ccc;
}
